a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2, h2, h3 {
  text-transform: uppercase; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.line {
  min-height: 2px;
  text-align: center;
  width: 100px;
  margin: auto;
  margin-top: -1rem;
  margin-bottom: 1rem;
  background-color: #f7ab09; }

.line.vertical {
  width: 5px;
  height: auto;
  margin: 0px 1rem; }

.container {
  padding: 0px 4rem; }

.btn-light, .btn-dark {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem; }

.btn-light {
  background-color: #f4f4f4;
  color: #333; }
  .btn-light:hover {
    transition: all 0.5s;
    background-color: #333;
    color: #f4f4f4; }

.btn-dark {
  background-color: #333;
  color: #f4f4f4; }
  .btn-dark:hover {
    transition: all 0.5s;
    background-color: #f4f4f4;
    color: #333; }

.section-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 300; }

.title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0.5rem; }

.mywork-gallery:nth-child(1) {
  grid-area: item1; }

.mywork-gallery:nth-child(2) {
  grid-area: item2; }

.mywork-gallery:nth-child(3) {
  grid-area: item3; }

.mywork-gallery:nth-child(4) {
  grid-area: item4; }

.mywork-gallery:nth-child(5) {
  grid-area: item5; }

.mywork-gallery:nth-child(6) {
  grid-area: item6; }

.mywork-gallery:nth-child(7) {
  grid-area: item7; }

.mywork-gallery:nth-child(8) {
  grid-area: item8; }

.mywork-gallery:nth-child(9) {
  grid-area: item9; }

.fa-2x {
  font-size: 2.6rem; }

.mywork-gallery__item {
  position: relative; }

.mywork-gallery__item .item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Dosis", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.8rem; }

.header {
  height: 100vh;
  background-image: url("/img/showcase.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover; }
  .header .container {
    display: flex;
    flex-direction: column; }
  .header-navbar {
    z-index: 5;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 18vh;
    justify-content: center; }
    .header-navbar .logo {
      display: flex;
      align-items: center; }
      .header-navbar .logo img {
        width: 120px;
        height: auto; }
    .header-navbar .nav {
      flex-basis: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      .header-navbar .nav ul {
        display: flex; }
        .header-navbar .nav ul a {
          margin: 0.75rem;
          font-size: 1.2rem;
          color: #f4f4f4; }
          .header-navbar .nav ul a.current {
            border-bottom: 2px solid #f7ab09; }
          .header-navbar .nav ul a:hover {
            transition: border-bottom 0s;
            border-bottom: 2px solid #ccc; }
  .header-showcase {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 82vh; }
    .header-showcase h1 {
      color: #f4f4f4;
      font-size: 2.8rem;
      margin-bottom: 2rem;
      line-height: 2.4rem; }

.a1 {
  background-color: #fff;
  color: #000000; }
  .a1 .container {
    padding: 0px 0rem; }
  .a1 i {
    color: #ffd900; }
  .a1-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0; }
    .a1-header p {
      margin-bottom: 2rem;
      font-size: 1.3rem; }
  .a1-content {
    display: flex;
    flex-direction: row;
    flex-shrink: 0; }
    .a1-content__flex {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 1rem; }
      .a1-content__flex i {
        margin-bottom: 1rem; }
      .a1-content__flex h3 {
        margin-bottom: 1rem; }
      .a1-content__flex p {
        line-height: 1.5rem;
        margin-bottom: 1rem; }
  .a1-footer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0; }
    .a1-footer__flex {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 1rem;
      flex-basis: 25%; }
      .a1-footer__flex i {
        color: #000000;
        padding: 1.2rem;
        margin-bottom: 1rem; }
      .a1-footer__flex h3 {
        margin-bottom: 1rem; }
      .a1-footer__flex p {
        line-height: 1.5rem;
        margin-bottom: 1rem; }
    .a1-footer__flex.dark {
      background-color: #ccc; }
    .a1-footer__flex.light {
      background-color: #f4f4f4; }

.a2 {
  background-color: #fff;
  color: #000000; }
  .a2 .container {
    padding: 0px 0rem; }
  .a2-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0; }
    .a2-header p {
      margin-bottom: 2rem;
      font-size: 1.3rem; }
  .a2-content {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .a2-content div {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center; }
      .a2-content div:hover {
        background-color: #f7ab09; }
        .a2-content div:hover .a2-content-icon {
          background-color: #ffd900;
          color: #333;
          transform: scale(1.1);
          transition: background-color 1s, transform 1s,color 1s; }
      .a2-content div h3 {
        margin-top: 1rem; }
    .a2-content-step {
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: #f7ab09;
      color: #fff;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      line-height: 0;
      padding: 1rem;
      font-size: 20px;
      transition: background-color 1s; }
      .a2-content-step:hover {
        background-color: #f4f4f4; }
    .a2-content-icon, .a2-content .fas {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      background-color: #333;
      color: #fff;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      line-height: 0px;
      font-size: 2.8rem;
      padding: 3.2rem;
      margin-top: 1rem; }
    .a2-content h3 {
      margin-bottom: 1rem; }
    .a2-content p {
      line-height: 1.5rem;
      margin-bottom: 1rem; }

footer .container {
  width: 100%;
  padding: 0px 4rem;
  display: flex; }

.footer {
  background-color: #333;
  color: #f4f4f4;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
  z-index: 5; }
  .footer-copyright {
    flex-basis: 100%; }
    .footer-copyright h4 {
      font-weight: 300; }
  .footer-socialmedia {
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%; }
    .footer-socialmedia a {
      margin-right: 20px;
      border: none; }
      .footer-socialmedia a i {
        border: 1px solid white;
        border-radius: 50%;
        color: #f4f4f4;
        padding: 10px; }
        .footer-socialmedia a i:hover {
          border: 1px solid #f7ab09;
          border-radius: 50%;
          color: #f7ab09; }

.header-about {
  height: 5.5rem;
  background-image: url("/img/showcase.jpg");
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 30%;
  background-size: cover;
  border-bottom: 3px solid #f7ab09; }
  .header-about .container {
    display: flex;
    flex-direction: column; }
  .header-about-navbar {
    z-index: 5;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: auto;
    justify-content: center; }
    .header-about-navbar .logo {
      display: flex;
      align-items: center;
      width: 80px;
      height: auto; }
    .header-about-navbar .nav {
      flex-basis: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      .header-about-navbar .nav ul {
        display: flex; }
        .header-about-navbar .nav ul a {
          margin: 0.75rem;
          font-size: 1.2rem;
          color: #f4f4f4; }
          .header-about-navbar .nav ul a.current {
            border-bottom: 2px solid #f7ab09; }
          .header-about-navbar .nav ul a:hover {
            transition: border-bottom 0s;
            border-bottom: 2px solid #ccc; }

.bio .container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
  margin-bottom: 1rem; }

.bio-header {
  margin-top: 4rem;
  margin-bottom: 2rem; }

.bio-content {
  display: flex;
  padding-top: 1rem; }
  .bio-content-bg-light {
    text-align: center;
    padding: 1rem;
    padding-top: 0px;
    background-color: #f4f4f4; }
    .bio-content-bg-light h4 {
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      font-size: 1.6rem;
      line-height: 2.2rem; }

.bio-content-awards {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 1rem 1rem 0rem 1rem; }
  .bio-content-awards .award {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 1rem;
    padding: 1rem; }
    .bio-content-awards .award i {
      padding-bottom: 1rem;
      color: #f7ab09; }
    .bio-content-awards .award h3 {
      padding-bottom: 1rem; }

.progress {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #f4f4f4;
  padding-bottom: 1.2rem;
  padding-top: 1rem; }
  .progress .container {
    display: inline-block; }
  .progress-bar {
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ccc;
    margin-bottom: 0.3rem; }
    .progress-bar div {
      height: 100%;
      color: #fff;
      text-align: center;
      background-color: #f7ab09;
      border-radius: 10px; }

.references {
  background-color: #f4f4f4; }
  .references-logos {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding-top: 3rem;
    padding-bottom: 3rem; }
    .references-logos img {
      width: 25%;
      height: auto;
      padding: 0rem 3rem; }

.testimonials {
  display: flex;
  flex-direction: row; }
  .testimonials .container {
    margin: 2rem 1rem;
    text-align: center;
    padding: 0; }
    .testimonials .container h2 {
      padding-top: 1rem; }
    .testimonials .container p {
      padding-bottom: 2rem; }
  .testimonials-lists {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-basis: 25%; }
    .testimonials-lists div {
      display: flex;
      flex-direction: column; }
      .testimonials-lists div p {
        border: 1px solid #ccc;
        border-radius: 2px;
        margin: 1rem 0.3rem;
        padding: 1rem;
        line-height: 1.5rem; }
      .testimonials-lists div ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 1rem; }
        .testimonials-lists div ul li:nth-child(2) {
          padding: 0 0.5rem; }
        .testimonials-lists div ul li img {
          border-radius: 50%;
          width: 50px;
          height: 50px; }

.mywork .container {
  max-width: 1280px;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem; }

.mywork-header {
  margin: 4rem auto 0rem auto; }

.mywork-gallery {
  display: grid;
  grid-template-areas: 'item1 item2 item3' 'item4 item5 item6' 'item7 item8 item9';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 2px 1px 18px -2px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 2px 1px 18px -2px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 2px 1px 18px -2px rgba(0, 0, 0, 0.81);
  margin: 2rem auto 3rem auto; }
  .mywork-gallery__item {
    transition: all 2s; }
    .mywork-gallery__item:hover {
      transition: all 3s;
      overflow: hidden; }
      .mywork-gallery__item:hover img {
        transition: all 1.2s;
        transform: scale(1.2); }
    .mywork-gallery__item .item-text {
      overflow: hidden;
      opacity: 0;
      color: #fff;
      z-index: 2; }
      .mywork-gallery__item .item-text::before {
        content: '';
        width: 200%;
        height: 200%;
        position: absolute;
        left: -200%;
        top: -200%;
        background-color: #f7ab09;
        transition: all 1s;
        transform: rotate(130deg);
        z-index: 2; }
      .mywork-gallery__item .item-text:hover {
        opacity: 1; }
        .mywork-gallery__item .item-text:hover::before {
          opacity: 0.9;
          left: -60%;
          top: -60%; }
      .mywork-gallery__item .item-text-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0;
        position: relative;
        z-index: 3;
        transition: all 1s;
        top: -15px; }
        .mywork-gallery__item .item-text-wrap:hover {
          opacity: 1;
          top: 0; }
        .mywork-gallery__item .item-text-wrap p {
          position: relative;
          opacity: 1;
          z-index: 4; }
        .mywork-gallery__item .item-text-wrap h2 {
          position: relative;
          opacity: 1;
          z-index: 4; }
    .mywork-gallery__item .item-img:hover {
      padding: 1rem; }

.contact .container {
  max-width: 1280px;
  padding: 3rem 0rem;
  margin-bottom: 1rem; }

.contact-header {
  margin: 2rem auto 0rem auto; }

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .contact-form .form-input__child {
    display: flex;
    margin: 1rem; }
    .contact-form .form-input__child.btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 4.5rem; }
      .contact-form .form-input__child.btn button {
        width: 50%;
        height: 2.5rem; }
      .contact-form .form-input__child.btn .btn-dark.btn-main {
        transition: all 1s; }
        .contact-form .form-input__child.btn .btn-dark.btn-main:hover {
          background-color: #f7ab09; }
  .contact-form input {
    width: 100%;
    height: 2.2rem;
    margin: 0.1rem 0.5rem;
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: #333; }
  .contact-form textarea {
    width: 100%;
    height: 2.2rem;
    margin: 0.1rem 0.5rem;
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: #333; }

.info .container {
  margin: 0;
  padding: 0; }

.info-flex {
  display: flex;
  flex-shrink: 0;
  background-color: #333;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .info-flex__box {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem; }
    .info-flex__box i {
      padding-bottom: 0.5rem; }

.add {
  background-color: #f7ab09;
  color: #fff; }
  .add .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 3rem; }
    .add .container h1 {
      padding: 5rem 0.1rem;
      font-size: 4rem;
      line-height: 4rem; }

@media screen and (min-width: 1300px) {
  .a1 .container {
    max-width: 1280px;
    padding: 1rem 5rem 5rem 5rem;
    margin: auto;
    overflow: hidden; }
  .a1 p {
    margin-bottom: 5rem; }
  .a2 .container {
    padding: 1rem 5rem 5rem 5rem; }
  .a2 p {
    margin-bottom: 5rem; }
  .bio .container {
    padding: 0px 2rem; } }

@media screen and (max-width: 768px) {
  .header .logo img {
    width: 90px;
    height: auto; }
  .footer {
    height: 100px; }
  .a1 .container {
    padding: 1rem 4rem; }
  .a1 p {
    margin-bottom: 5rem; }
  .a1-content {
    display: flex;
    flex-direction: column;
    margin-top: -58px; }
    .a1-content__flex {
      margin-bottom: -48px; }
  .a1-footer p {
    margin-bottom: 1rem; }
  .a2 {
    height: auto; }
    .a2 .container {
      padding: 1rem 4rem;
      margin-top: 2rem; }
    .a2-content {
      display: flex;
      flex-direction: column;
      flex-shrink: 0; }
      .a2-content__flex {
        padding: 0;
        margin: 1rem; }
        .a2-content__flex .i {
          padding-bottom: 1rem;
          margin-bottom: 1rem; }
          .a2-content__flex .i i {
            border-radius: 50%;
            background: #333;
            color: #fff;
            line-height: 0px;
            padding: 20px;
            display: inline; }
  .bio .award {
    margin: 0.5rem 0.1rem;
    padding: 0.5rem; }
  .references img {
    padding: 0.4rem 0.4rem; }
  .testimonials-lists {
    flex-direction: column; }
    .testimonials-lists div {
      display: flex;
      flex-direction: column; }
      .testimonials-lists div ul {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 1rem; }
  .mywork-gallery {
    grid-template-areas: 'item1 item2' 'item3 item4' 'item5 item6' 'item7 item8'  'item9 item9';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; }
    .mywork-gallery__item:nth-child(9) {
      display: none; } }

@media screen and (max-width: 500px) {
  .header {
    height: 50vh; }
    .header-navbar {
      height: 60px; }
      .header-navbar .logo {
        display: none; }
    .header-showcase {
      height: 40vh; }
      .header-showcase h1 {
        font-size: 1.5rem; }
      .header-showcase .btn-light {
        font-size: 0.85rem;
        padding: 0.1rem 0.5rem; }
  .header-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .header-about .container {
      align-items: center;
      padding: 0; }
      .header-about .container .logo {
        display: none; }
  .a1 {
    height: auto; }
    .a1 .container {
      padding: 0rem 1rem; }
    .a1-content {
      display: flex;
      flex-direction: column;
      margin-top: -58px; }
      .a1-content__flex {
        margin-bottom: -48px; }
    .a1-footer {
      flex-direction: column; }
      .a1-footer__flex {
        margin-bottom: 0px; }
  .a2 {
    height: auto; }
    .a2 .container {
      padding: 0rem 1rem; }
    .a2 h2 {
      line-height: 2.2rem; }
  .bio .container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden; }
  .bio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem; }
    .bio-content img {
      width: 300px;
      height: auto; }
    .bio-content .line {
      width: 200px;
      margin-bottom: 0.5rem; }
  .bio-content-awards {
    flex-direction: column;
    margin: 1rem 1rem 0rem 1rem; }
  .mywork-gallery {
    grid-template-areas: 'item1'  'item2' 'item3 ' 'item4' 'item5'  'item6' 'item7' 'item8'  'item9';
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr; }
    .mywork-gallery__item:nth-child(9) {
      display: none; }
  .contact .container {
    padding-right: 1rem; }
  .contact-form {
    width: 80%;
    margin: auto; }
    .contact-form .form-input__child {
      flex-direction: column;
      margin: 0; }
      .contact-form .form-input__child input {
        margin-top: 1rem; }
      .contact-form .form-input__child textarea {
        margin-top: 1rem; }
      .contact-form .form-input__child.btn {
        margin-top: 2rem; }
  .info .container {
    margin: 0;
    padding: 0; }
  .info-flex {
    flex-direction: column; }
    .info-flex__box {
      border-bottom: 0.5px dotted #000000; }
  .add h1 {
    padding: 4rem 0.1rem;
    font-size: 3rem; }
  .footer {
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly; }
    .footer-copyright {
      margin-bottom: 1rem; }
    .footer .container {
      text-align: center;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; } }
