a{text-decoration: none;color: $dark-color;}
ul{list-style: none;}
h2,h2,h3{text-transform: uppercase;}
img{width: 100%;height: 100%;object-fit: cover;}
.line{
    min-height: 2px;
    text-align: center;
    width: 100px;
    margin: auto;
    margin-top: -1rem;
    margin-bottom: 1rem;
    background-color: #f7ab09;
}

.line.vertical{
    width: 5px;
    height: auto;
    margin: 0px 1rem;

}

.container{padding: 0px 4rem;}

%btn-shared{border: none;padding: 0.5rem 1rem;cursor: pointer;display: inline-block;margin-top: 1rem;}
.btn{
    
    &-light{
        @extend %btn-shared;
        background-color: $light-color;
        color:transitionButton($light-color);
        &:hover{
        transition: all 0.5s;
        background-color:$dark-color ;
        color:transitionButton($dark-color) ;
        
        }
    }
    &-dark{
        @extend %btn-shared;
        background-color:$dark-color ;
        color:$light-color ;
        &:hover{
        transition: all 0.5s;    
        background-color: $light-color;
        color:transitionButton($light-color);
        }
    }
}
button{
    border: none;
    background-color: none;
}
.hidden{
    display: none;
}
.pop-up{
    padding: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #efefef17;
}
.visible{
    color: black;
    background-color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
}

.section-title{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 300;
    
}
.title{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;


}
.mywork-gallery:nth-child(1) {
    grid-area: item1;
}
.mywork-gallery:nth-child(2){
    grid-area: item2;
}
.mywork-gallery:nth-child(3){
    grid-area: item3;
}
.mywork-gallery:nth-child(4){
    grid-area: item4;
}
.mywork-gallery:nth-child(5){
    grid-area: item5;
}
.mywork-gallery:nth-child(6){
    grid-area: item6;
}
.mywork-gallery:nth-child(7){
    grid-area: item7;
}
.mywork-gallery:nth-child(8){
    grid-area: item8;
}.mywork-gallery:nth-child(9){
    grid-area: item9;
}
.fa-2x {
    font-size: 2.6rem;
}
.mywork-gallery__item{
    position: relative;
}
.mywork-gallery__item .item-text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    text-align: center;
}
