$color:red;
@import 'variable';
@import 'functions';
@import 'utility';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background-color: $bg-color;
    color: $dark-color;
    line-height: 1.8rem;
}

.header {
    height: 100vh;
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    .container {
        display: flex;
        flex-direction: column;
    }

    &-navbar {
        z-index: 5;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        height: 18vh;
        justify-content: center;

        .logo {
            display: flex;
            align-items: center;

            img {
                width: 120px;
                height: auto;

            }
        }

        .nav {
            flex-basis: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            // nav{margin-bottom: 0.65rem;}

            ul {
                display: flex;

                a {
                    margin: 0.75rem;
                    font-size: 1.2rem;
                    color: $light-color;

                    &.current {
                        border-bottom: 2px solid $main-color;
                    }

                    &:hover {
                        transition: border-bottom 0s;
                        border-bottom: 2px solid $medium-color;

                    }
                }

            }
        }

    }

    &-showcase {
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 82vh;

        h1 {
            color: $light-color;
            font-size: 2.8rem;
            margin-bottom: 2rem;
            line-height: 2.4rem;
        }
    }
}

.a1 {
    background-color: $bg-color;
    color: #000000;

    .container {
        padding: 0px 0rem;
    }

    i {
        color: #ffd900;
    }

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem 0;

        p {
            margin-bottom: 2rem;
            font-size: 1.3rem;
        }
    }

    &-content {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;

        &__flex {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1rem;

            i {
                margin-bottom: 1rem;
            }

            h3 {
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }

    &-footer {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;

        &__flex {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1rem;
            flex-basis: 25%;

            i {
                color: #000000;
                padding: 1.2rem;
                margin-bottom: 1rem;
            }

            h3 {
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.5rem;
                margin-bottom: 1rem;
            }
        }

        &__flex.dark {
            background-color: $medium-color;
        }

        &__flex.light {
            background-color: $light-color;
        }
    }
}

.a2 {
    background-color: $bg-color;
    color: #000000;

    .container {
        padding: 0px 0rem;
    }

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem 0;

        p {
            margin-bottom: 2rem;
            font-size: 1.3rem;
        }
    }

    &-content {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        text-align: center;
        justify-content: center;
        align-items: center;

        & div {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            &:hover {
                background-color: $main-color;

                .a2-content-icon {
                    background-color: #ffd900;
                    color: $dark-color;
                    transform: scale(1.1);
                    transition: background-color 1s, transform 1s, color 1s;
                }
            }

            h3 {
                margin-top: 1rem;
            }
        }

        &-step {
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: $main-color;
            color: #fff;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            line-height: 0;
            padding: 1rem;
            font-size: 20px;
            transition: background-color 1s;

            &:hover {
                background-color: $light-color;
            }
        }

        &-icon,
        .fas {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center;
            background-color: $dark-color;
            color: #fff;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            line-height: 0px;
            font-size: 2.8rem;
            padding: 3.2rem;
            margin-top: 1rem;
            // transition:background-color 1s, padding 1s,color 1s;

        }

        h3 {
            margin-bottom: 1rem;
        }

        p {
            line-height: 1.5rem;
            margin-bottom: 1rem;
        }
    }
}

footer {
    .container {
        width: 100%;
        padding: 0px 4rem;
        display: flex;
    }

}

.footer {
    background-color: $dark-color;
    color: $light-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
    z-index: 5;

    &-copyright {
        flex-basis: 100%;

        h4 {
            font-weight: 300;
        }
    }

    &-socialmedia {
        display: flex;
        justify-content: flex-end;
        flex-basis: 100%;

        a {
            margin-right: 20px;
            border: none;

            i {
                border: 1px solid white;
                border-radius: 50%;
                color: #f4f4f4;
                padding: 10px;

                &:hover {
                    border: 1px solid $main-color;
                    border-radius: 50%;
                    color: $main-color;
                }
            }
        }
    }
}

//About Me


.header-about {
    height: 5.5rem;
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 30%;
    background-size: cover;
    border-bottom: 3px solid $main-color;

    .container {
        display: flex;
        flex-direction: column;
    }

    &-navbar {
        z-index: 5;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        height: auto;
        justify-content: center;

        .logo {
            display: flex;
            align-items: center;
            width: 80px;
            height: auto;
        }

        .nav {
            flex-basis: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            // nav{margin-bottom: 0.65rem;}

            ul {
                display: flex;

                a {
                    margin: 0.75rem;
                    font-size: 1.2rem;
                    color: $light-color;

                    &.current {
                        border-bottom: 2px solid $main-color;
                    }

                    &:hover {
                        transition: border-bottom 0s;
                        border-bottom: 2px solid $medium-color;

                    }
                }

            }
        }

    }
}

.bio {
    .container {
        max-width: 1280px;
        padding: 0 1.5rem;
        margin: auto;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    &-header {
        margin-top: 4rem;
        margin-bottom: 2rem;

    }

    &-content {
        display: flex;
        padding-top: 1rem;

        &__img {}

        &-bg-light {
            text-align: center;
            padding: 1rem;
            padding-top: 0px;
            background-color: $light-color;

            h4 {
                padding-top: 1rem;
                padding-bottom: 0.5rem;
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
    }

    &-content-awards {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 1rem 1rem 0rem 1rem;

        .award {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 0.5rem 1rem;
            padding: 1rem;

            i {
                padding-bottom: 1rem;
                color: $main-color;
            }

            h3 {
                padding-bottom: 1rem;
            }
        }
    }
}

.progress {
    display: flex;
    flex-direction: column;
    background-color: $dark-color;
    color: $light-color;
    padding-bottom: 1.2rem;
    padding-top: 1rem;

    .container {
        display: inline-block;
    }

    &-bar {
        height: 20px;
        border: none;
        border-radius: 10px;
        background-color: $medium-color;
        margin-bottom: 0.3rem;

        div {
            height: 100%;
            color: #fff;
            text-align: center;
            background-color: $main-color;
            border-radius: 10px;
        }
    }
}

.references {
    background-color: $light-color;

    &-logos {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;

        img {
            width: 25%;
            height: auto;
            padding: 0rem 3rem;
        }
    }
}

.testimonials {
    display: flex;
    flex-direction: row;

    .container {
        margin: 2rem 1rem;
        text-align: center;
        padding: 0;

        h2 {
            padding-top: 1rem;
        }

        p {
            padding-bottom: 2rem;
        }
    }

    &-lists {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        flex-basis: 25%;

        div {
            display: flex;
            flex-direction: column;

            p {
                border: 1px solid $medium-color;
                border-radius: 2px;
                margin: 1rem 0.3rem;
                padding: 1rem;
                line-height: 1.5rem;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 1rem;

                li:nth-child(2) {
                    padding: 0 0.5rem;
                }

                li {
                    img {
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}


//MY WORK

.mywork {
    .container {
        max-width: 1280px;
        padding: 0.5rem 1.5rem;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    &-header {
        margin: 4rem auto 0rem auto;
    }

    &-gallery {
        display: grid;
        grid-template-areas:
            'item1 item2 item3'
            'item4 item5 item6'
            'item7 item8 item9';
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        box-shadow: 2px 1px 18px -2px rgba(0, 0, 0, 0.81);
        -webkit-box-shadow: 2px 1px 18px -2px rgba(0, 0, 0, 0.81);
        -moz-box-shadow: 2px 1px 18px -2px rgba(0, 0, 0, 0.81);
        margin: 2rem auto 3rem auto;

        &__item {
            transition: all 2s;

            &:hover {
                transition: all 3s;
                overflow: hidden;

                img {
                    transition: all 1.2s;
                    transform: scale(1.2);
                }
            }

            .item-text {
                overflow: hidden;
                opacity: 0;
                color: $bg-color;
                z-index: 2;

                &::before {
                    content: '';
                    width: 200%;
                    height: 200%;
                    position: absolute;
                    left: -200%;
                    top: -200%;
                    background-color: $main-color;
                    transition: all 1s;
                    transform: rotate(130deg);
                    z-index: 2;

                }

                &:hover {
                    opacity: 1;

                    &::before {
                        opacity: 0.9;
                        left: -60%;
                        top: -60%;
                    }
                }

                &-wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    opacity: 0;
                    position: relative;
                    z-index: 3;
                    transition: all 1s;
                    top: -15px;

                    &:hover {
                        opacity: 1;
                        top: 0;
                    }

                    p {
                        position: relative;
                        opacity: 1;
                        z-index: 4;

                    }

                    h2 {
                        position: relative;
                        opacity: 1;
                        z-index: 4;

                    }
                }
            }

            .item-img {
                &:hover {
                    padding: 1rem;
                }
            }


        }
    }
}

//CONTACT

.contact {
    .container {
        max-width: 1280px;
        padding: 3rem 0rem;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    &-header {
        margin: 2rem auto 0rem auto;

    }

    &-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 0 60px;

        .form-input {

            &__child {
                display: flex;
                margin: 1rem;

                &.btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-top: 4.5rem;

                    button {
                        width: 50%;
                        height: 2.5rem;

                    }

                    .btn-dark.btn-main {
                        transition: all 1s;

                        &:hover {
                            background-color: $main-color;
                        }
                    }
                }

            }
        }

        input {
            width: 100%;
            height: 2.2rem;
            margin: 0.1rem 0.5rem;
            padding: 0.3rem 1rem;
            font-size: 0.8rem;
            font-weight: 400;
            color: $dark-color;
        }

        textarea {
            width: 100%;
            height: 2.2rem;
            margin: 0.1rem 0.5rem;
            padding: 0.3rem 1rem;
            font-size: 0.8rem;
            font-weight: 400;
            color: $dark-color;
        }
    }
}

.info {
    .container {
        margin: 0;
        padding: 0;
    }

    &-flex {
        display: flex;
        flex-shrink: 0;
        background-color: $dark-color;
        color: $bg-color;
        align-items: center;
        justify-content: center;
        text-align: center;

        &__box {
            display: flex;
            flex-direction: column;
            flex-basis: 32%;
            align-items: center;
            justify-content: center;
            padding: 3rem 2rem;

            i {
                padding-bottom: 0.5rem;
            }
        }
    }
}

.add {
    background-color: $main-color;
    color: $bg-color;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 3rem;

        h1 {
            padding: 5rem 0.1rem;
            font-size: 4rem;
            line-height: 4rem;
        }
    }
}

//responsive

@media screen and (min-width:1300px) {
    .a1 {
        .container {
            max-width: 1280px;
            padding: 1rem 5rem 5rem 5rem;
            margin: auto;
            overflow: hidden;
        }

        p {
            margin-bottom: 5rem;
        }
    }

    .a2 {
        .container {
            padding: 1rem 5rem 5rem 5rem;
        }

        p {
            margin-bottom: 5rem;
        }
    }

    .bio {
        .container {
            padding: 0px 2rem;
        }
    }
}

@media screen and (max-width:768px) {
    .header {
        .logo {
            img {
                width: 90px;
                height: auto;
            }
        }
    }

    .footer {
        height: 100px;
    }

    .a1 {
        .container {
            padding: 1rem 4rem;
        }

        p {
            margin-bottom: 5rem;
        }

        &-content {
            display: flex;
            flex-direction: column;
            margin-top: -58px;

            &__flex {
                margin-bottom: -48px;
            }
        }

        &-footer {
            p {
                margin-bottom: 1rem;
            }
        }
    }

    .a2 {
        height: auto;

        .container {
            padding: 1rem 4rem;
            margin-top: 2rem;

        }

        &-content {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            &__flex {
                padding: 0;
                margin: 1rem;

                .i {
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;

                    i {
                        border-radius: 50%;
                        background: #333;
                        color: #fff;
                        line-height: 0px;
                        padding: 20px;
                        display: inline;
                    }
                }
            }
        }
    }

    .bio {
        .award {
            margin: 0.5rem 0.1rem;
            padding: 0.5rem;

        }
    }

    .references {

        img {
            padding: 0.4rem 0.4rem;
        }

    }

    .testimonials {

        &-lists {
            flex-direction: column;

            div {
                display: flex;
                flex-direction: column;

                ul {
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 0 1rem;

                }
            }
        }
    }

    .mywork {
        &-gallery {
            grid-template-areas:
                'item1 item2'
                'item3 item4'
                'item5 item6'
                'item7 item8'
                'item9 item9';
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;

            &__item {
                &:nth-child(9) {
                    display: none;
                }
            }
        }
    }





}

@media screen and (max-width:500px) {
    .header {
        height: 50vh;

        &-navbar {
            height: 60px;

            .logo {
                display: none;
            }

        }

        &-showcase {
            height: 40vh;

            h1 {
                font-size: 1.5rem;
            }

            .btn-light {
                font-size: 0.85rem;
                padding: 0.1rem 0.5rem;
            }
        }
    }

    .header-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container {
            align-items: center;
            padding: 0;

            .logo {
                display: none;
            }
        }
    }

    .a1 {
        height: auto;

        .container {
            padding: 0rem 1rem;
        }

        &-content {
            display: flex;
            flex-direction: column;
            margin-top: -58px;

            &__flex {
                margin-bottom: -48px;
            }
        }

        &-footer {
            flex-direction: column;

            &__flex {
                margin-bottom: 0px;
            }
        }
    }

    .a2 {
        height: auto;

        .container {
            padding: 0rem 1rem;
        }

        h2 {
            line-height: 2.2rem;
        }
    }

    .bio {
        .container {
            max-width: 1280px;
            padding: 0 1.5rem;
            margin: auto;
            overflow: hidden
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;

            img {
                width: 300px;
                height: auto;
            }

            .line {
                width: 200px;
                margin-bottom: 0.5rem;
            }
        }

        &-content-awards {
            flex-direction: column;
            margin: 1rem 1rem 0rem 1rem;
        }
    }

    .mywork {
        &-gallery {
            grid-template-areas:
                'item1'
                'item2'
                'item3 '
                'item4'
                'item5'
                'item6'
                'item7'
                'item8'
                'item9';
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 1fr;

            &__item {
                &:nth-child(9) {
                    display: none;
                }
            }
        }
    }

    .contact {
        .container {
            padding-right: 1rem;
            
        }
       

        &-form {
            width: 80%;
            margin: auto;

            .form-input {
                &__child {
                    flex-direction: column;
                    margin: 0;

                    input {
                        margin-top: 1rem;

                    }

                    textarea {
                        margin-top: 1rem;
                    }

                    &.btn {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }

    .info {
        .container {
            margin: 0;
            padding: 0;
        }

        &-flex {
            flex-direction: column;

            &__box {
                border-bottom: 0.5px dotted #000000;

            }
        }
    }

    .add {
       .container {
        h1 {
            padding: 4rem 0.1rem;
            font-size: 2.5rem;
        }
       }

    }

    .footer {
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;

        &-copyright {
            margin-bottom: 1rem;
        }

        .container {
            text-align: center;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

}